{% extends 'base.html' %}

{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Slaptažodžio pakeitimas</legend>
        <div class="form-group">
            {{ form.el_pastas.label(class="form-control-label") }}
            {{ form.el_pastas(class="form-control") }}
        </div>
    </fieldset>
    <div class="form-group mt-4">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
</form>

{% endblock %}
